section{
  width: 100%;
}
.section-heading{
  border: 2px solid brown;
  text-align: center;
}

.menu-box{
  border: 2px solid yellow;
}

.menu-item{
  position: relative;
  margin: 10px auto;
  padding:10px;
  border: 3px solid green;
  width: 80%;
  text-align: center;
}

.item-heading{
  position: absolute;
  top: 0px;
  right:10px;
}

p{
  margin:50px 0 15px 0;
}